span{position: absolute; display: inline-block;}
    
body{
    margin: 0;

}
.vampire-box{
    border: 1px solid saddlebrown;
    position: relative;  
    
 
}
.vampire-box__bg{
    margin: 0 auto;
    overflow: hidden;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: relative;
    background-color: #22304D;
    background: linear-gradient(to bottom, #111a2d,#5E7B9B);
    background: -webkit-linear-gradient(to bottom, #111a2d,#5E7B9B);
    background: -o-linear-gradient(to right, #111a2d,#5E7B9B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -moz-linear-gradient(to bottom, #111a2d,#5E7B9B);
    box-shadow: inset 0 0 33px #04032B;
}

.vampire-box__bg{
    .moon{
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background-color: #fff;
        box-shadow:  0 0 5px white, 0 0 10px #1E2D49, 0 0 90px white;
        top: 70px;
        left: 340px;
        
    }
    .bat{
        left: 300px;
        top:160px;
        .bat__left-wing{
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 60px solid #131313;
            position: absolute; 
            bottom: -10px;
            left: 40px;
            transform: rotate(-60deg);
            transform-origin: left bottom;
            left: 70px;
            bottom: 0px;
            transition: all ease 0.7s;
        }
        .bat__body{
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 80%;
            background-color: #131313;
            left: 70px;
            bottom: 5px;
            &:before{
                content: ' ';
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 10px solid #131313;
                transform: rotate(0deg);
                position: absolute;
                left: 2px;
                top: -5px;
            }
            &:after{
                content: ' ';
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 10px solid #131313;
                transform: rotate(0deg);
                position: absolute;
                left: 9px;
                top: -5px;
            }
        }
        .bat__right-wing{
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 60px solid #131313;
            transform: rotate(60deg);
            position: absolute;
            left: 100px;
            bottom:-10px;
            transform-origin: left bottom;
            left: 82px;
            bottom: 15px;
            transition: all ease 0.7s;
        }
        
    }
    .bat{
        &.bat--two{
          left: 22px;
         top: 110px;  
        }
        &.bat--three{
          left: 213px;
         top: 126px;  
        }
    }
    .vampire{
        .vampire__hair{
            background-color:#212129;
            width: 126px;
            height: 200px;
            border-radius: 100px 100px 10px 10px;
            left: 200px;
            top: 200px;
            overflow: hidden;
            .hair__one{
                    top: 5px;
                    left: -4px;
                    width: 97px;
                    height: 30px;
                    // background: #26262E;
                    background-color: #212129;
                    border-radius: 100%;
                    transform: rotate(-50deg);
                    z-index: 5;
                }
             
            .hair__two{
                    top: 8px;
                    left: 54px;
                    width: 116px;
                    height: 44px;
                    // background: #26262E;
                    background-color: #212129;
                    border-radius: 100%;
                    transform: rotate(32deg);   
                    z-index: 5;              
            }
            .hair__three{
                top: 22px;
                left: 27px;
                width: 66px;
                height: 18px;
                background-color: #212129;
                border-radius: 100%;
                transform: rotate(133deg);
                z-index: 5;            
            }    
        }  
        .vampire__face{
            background-color: #DBDBDB;
            width: 80px;
            height: 106px;
            border-radius: 50px;
            top: 219px;
            left: 224px;
            z-index: 3;
            .eyes{
                width: 24px;
                height: 20px;
                border-radius: 0 50px 0 50px;
                background-color: #fff;
                box-shadow: 0 0 14px 5px #04032B;
                &.eyes--left{ 
                    top: 38px;
                    transform: scale(1,1,1);
                    transform: rotate(-18deg);
                    -ms-transform-origin-y: 100%;
                    -webkit-transform-origin-y: 100%;
                    left: 8px;
                    .eyes__red{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #81180F;                  
                        top: 3px;
                        left: 4px;
                        box-shadow: 0 0 6px 2px #81180F; 
                        .eyes__black{
                            width: 8px;
                            height: 6px;
                            border-radius: 0 50px 0 50px;
                            background-color: #000;
                            transform: rotate(255deg);
                            top: 4px;
                            left: 3px;  
                        }
                    }                  
                }
                &.eyes--right{
                    top: 23px;
                    left: 42px;
                    transform: scale(1,1,1);
                    transform: rotate(120deg);
                    -ms-transform-origin-y: 100%;
                    -webkit-transform-origin-y: 100%;
                    .eyes__red{
                        top: 3px;
                        left:5px;
                        background-color: #81180F; 
                        width: 15px;
                        height: 15px;  
                        border-radius: 50%; 
                        box-shadow: 0 0 6px 2px #81180F;  
                        .eyes__black{
                            width: 8px;
                            height: 6px;
                            border-radius: 0 50px 0 50px;
                            background-color: #000;
                            transform: rotate(290deg);
                            top: 4px;
                            left: 3px; 
                        }             
                        
                    }
                } 
                
            }
            .vampire__nose{   
                height: 14px;
                width: 12px;
                top: 58px;
                left: 25px;
                border-bottom-right-radius: 25%;
                border-top-right-radius: 24%;
                border: 1px solid #AFAFAF;
                border-left: transparent;
                border-top: transparent;
                border-bottom: transparent;
                &.vampire__nose--second{
                    height: 14px;
                    width: 12px;
                    top: 58px;
                    left: 42px;
                    border-bottom-right-radius: 25%;
                    border-top-right-radius: 24%;
                    border: 1px solid #AFAFAF;
                    border-left: transparent;
                    border-top: transparent;
                    border-bottom: transparent;
                    transform: rotate(180deg);
                }  

            }  
            .vampire__mouth{
             .lip{  
                &.lip--top{
                    top: 7px;
                    left: 0px;
                } 
                .upper-lip{
                    border-bottom: 10px solid #880901;
                    border-left: 20px solid transparent;
                    border-top-right-radius: 100%;
                    height: 0px;
                    width: 0px;
                    &.upper-lip--left{
                        top: 70px;
                        left: 21px;
                    }
                    &.upper-lip--right{
                        top: 70px;
                        left: 41px;
                        transform: rotateY(180deg);                   
                    }
                } 
                &.lip--bottom{
                 width: 38px;
                 height: 8px;
                 background-color: #880901;
                 border-top-left-radius: 80px;
                 border-top-right-radius: 80px;
                 border-bottom: 0;
                 transform: rotate(180deg);
                 top:87px;
                 left:22px;

                }
            }            
            }

        }
}   }
    
    
